In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = "http://www.popvortex.com/music/charts/top-100-songs.php"

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
# print(soup.prettify())

In [6]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8

result = soup.select("#chart-position-1 > div.chart-content.col-xs-12.col-sm-8")
display(result)

[<div class="chart-content col-xs-12 col-sm-8"><p class="title-artist"><cite class="title">81 Million Votes, My Ass</cite><em class="artist">The Truth Bombers &amp; Kari Lake</em></p><ul><li><strong>Genre</strong>: <a href="/music/charts/top-alternative-songs.php">Alternative</a></li><li><strong>Release Date</strong>: June 2, 2023</li></ul><a class="buy-button button" href="https://music.apple.com/us/album/81-million-votes-my-ass/1690675501?i=1690675513&amp;uo=2&amp;partnerId=11&amp;at=10l4UI&amp;itsct=music_box_link&amp;itscg=30200&amp;ls=1&amp;ct=music-songs&amp;app=music" rel="nofollow noopener">Apple Music / iTunes</a> <a aria-label="Buy 81 Million Votes, My Ass - The Truth Bombers &amp;amp; Kari Lake on Amazon" class="amazon-buy button" href="https://www.amazon.com/gp/search?ie=UTF8&amp;keywords=81+Million+Votes%2C+My+Ass+The+Truth+Bombers+%26+Kari+Lake&amp;tag=popv0f-20&amp;search-alias=digital-music" rel="nofollow noopener" target="_blank">Buy on Amazon</a> <div class="social-share"><a class="facebook-share-button" href="javascript: void(0)" onclick="window.open('https://www.facebook.com/dialog/feed?app_id=178831188827052&amp;display=popup&amp;description=81+Million+Votes%2C+My+Ass+by+The+Truth+Bombers+%26+Kari+Lake+is+currently+at+number+1+on+the+iTunes+top+100+songs+chart.&amp;link=https%3A%2F%2Fwww.popvortex.com%2Fmusic%2Fcharts%2Ftop-100-songs.php&amp;redirect_uri=http%3A%2F%2Fwww.popvortex.com%2Fpopup-close.html&amp;picture=https%3A%2F%2Fis4-ssl.mzstatic.com%2Fimage%2Fthumb%2FMusic116%2Fv4%2Ffb%2F40%2F82%2Ffb4082b7-d71e-106d-6980-251984957f47%2F68097.jpg%2F170x170bb.png','sharer','toolbar=0,status=0,width=548,height=325');"><img alt="Share on Facebook" height="20" loading="lazy" src="../../images/facebook-share.png" width="55"/></a> <a class="pinterest-share-button" data-pin-config="none" data-pin-do="buttonPin" href="//pinterest.com/pin/create/button/?url=https%3A%2F%2Fwww.popvortex.com%2Fmusic%2Fcharts%2Ftop-100-songs.php&amp;media=https%3A%2F%2Fis4-ssl.mzstatic.com%2Fimage%2Fthumb%2FMusic116%2Fv4%2Ffb%2F40%2F82%2Ffb4082b7-d71e-106d-6980-251984957f47%2F68097.jpg%2F1200x1200bb.png&amp;description=81 Million Votes, My Ass - The Truth Bombers &amp; Kari Lake"><img alt="Pinterest Button" height="20" loading="lazy" src="//assets.pinterest.com/images/pidgets/pin_it_button.png" width="40"/></a> <a class="tweet-button" href="https://twitter.com/intent/tweet?text=81+Million+Votes%2C+My+Ass+by+The+Truth+Bombers+%26+Kari+Lake+is+%231+on+iTunes+top+100+songs+chart.&amp;hashtags=iTunes&amp;url=https://www.popvortex.com/music/charts/top-100-songs.php"><span></span>Tweet</a></div></div>]

# Extracting titles

In [7]:
# body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper
    
result2 = soup.select("body > div.container > div:nth-child(4) > div.col-xs-12.col-md-8 > div.chart-wrapper p cite")

titles = []

for item in result2:
    titles.append(item.get_text())
#     print(item.get_text())
    
display(len(titles))
# display(titles)

100

# Extracting Artists

In [8]:
artists_result = soup.select(".artist")
artists = []

for item in artists_result:
    artists.append(item.get_text())
    
len(artists)

100

In [9]:
topSongs_df = pd.DataFrame({"title" : titles, "artists" : artists})
topSongs_df

,title,artists
0,"81 Million Votes, My Ass",The Truth Bombers & Kari Lake
1,Fast Car,Luke Combs
2,Take Two,BTS
3,Last Night,Morgan Wallen
4,Need A Favor,Jelly Roll
...,...,...
95,Standing Room Only,Tim McGraw
96,Euphoria,BTS
97,Hits Different,Taylor Swift
98,"Praise (feat. Brandon Lake, Chris Brown & Chan...",Elevation Worship
99,Sunflower (Spider-Man: Into the Spider-Verse),Post Malone & Swae Lee

# Lab 2(Part 1)

In [10]:
url2 = "https://en.wikipedia.org/wiki/List_of_songs_about_Berlin"

In [11]:
response2 = requests.get(url2)
response2.status_code

200

In [12]:
soup2 = BeautifulSoup(response2.content, "html.parser")
# soup2

In [13]:
#mw-content-text > div.mw-parser-output > ul:nth-child(8)

#mw-content-text > div.mw-parser-output

result3 = soup2.select("#mw-content-text div.mw-parser-output ul li")
result3

title_berlin = []
artists_berlin = []

for item in result3:
    
    text = item.get_text()
    
    arr = text.split(" – ")
    
    title_berlin.append(arr[0])
    artists_berlin.append(arr[len(arr) - 1])
        
    
# display(title_berlin)
# artists_berlin

In [14]:
display(len(title_berlin))
len(artists_berlin)

261

261

In [15]:
topSongs_df

,title,artists
0,"81 Million Votes, My Ass",The Truth Bombers & Kari Lake
1,Fast Car,Luke Combs
2,Take Two,BTS
3,Last Night,Morgan Wallen
4,Need A Favor,Jelly Roll
...,...,...
95,Standing Room Only,Tim McGraw
96,Euphoria,BTS
97,Hits Different,Taylor Swift
98,"Praise (feat. Brandon Lake, Chris Brown & Chan...",Elevation Worship
99,Sunflower (Spider-Man: Into the Spider-Verse),Post Malone & Swae Lee

In [16]:
topSongsberlin_df = pd.DataFrame({"title" : title_berlin, "artists" : artists_berlin})
topSongsberlin_df

,title,artists
0,Drei Andere,Eine kleine Ewigkeit • Blau ist der Himmel übe...
1,folk song,Bolle reiste jüngst zu Pfingsten
2,Paul Lincke,Berliner Luft (1904) • Nach der Liebesinsel la...
3,Otto Reutter,Berlin is ja so groß (about 1913)
4,Walter Kollo,"Untern Linden, untern Linden • Das war in Schö..."
...,...,...
256,12 Songs You Need To Listen To When In Berlin,12 Songs You Need To Listen To When In Berlin
257,10 songs dedicated to Berlin | DW | 30 Septemb...,10 songs dedicated to Berlin | DW | 30 Septemb...
258,List of Irving Berlin Songs and Music 1909–192...,List of Irving Berlin Songs and Music 1909–192...
259,Berlin Songs,Nuberlin.com
260,Berlin Song List,Berlin Song List

In [17]:
final_df = pd.concat([topSongs_df, topSongsberlin_df], axis = 0)

In [18]:
final_df

,title,artists
0,"81 Million Votes, My Ass",The Truth Bombers & Kari Lake
1,Fast Car,Luke Combs
2,Take Two,BTS
3,Last Night,Morgan Wallen
4,Need A Favor,Jelly Roll
...,...,...
256,12 Songs You Need To Listen To When In Berlin,12 Songs You Need To Listen To When In Berlin
257,10 songs dedicated to Berlin | DW | 30 Septemb...,10 songs dedicated to Berlin | DW | 30 Septemb...
258,List of Irving Berlin Songs and Music 1909–192...,List of Irving Berlin Songs and Music 1909–192...
259,Berlin Songs,Nuberlin.com
260,Berlin Song List,Berlin Song List

# Creating Recommender

In [79]:
import random

def random_songs(data):
    
    random_number = random.randint(0, len(data) - 1)
    return data.title[random_number]

In [80]:
def check_and_recommend(song_name):
    
    songs = list(map(str.lower, topSongs_df.title))
    if song_name.lower() in songs:
        return random_songs(topSongs_df)
    else:
        return "No recommendation!"

In [81]:
topSongs_df.head()

                      title                        artists
0  81 Million Votes, My Ass  The Truth Bombers & Kari Lake
1                  Fast Car                     Luke Combs
2                Last Night                  Morgan Wallen
3                  Take Two                            BTS
4              Need A Favor                     Jelly Roll

In [82]:
check_and_recommend("take two")

'HAPPY'

In [83]:
check_and_recommend("need a favor")

"I Ain't Worried"

In [84]:
check_and_recommend("something")

'No recommendation!'

In [88]:
import difflib

def recommend(song_name, data):
    matching_songs = data[data.title.apply(lambda x: difflib.SequenceMatcher(None, song_name.lower(), x.lower()).ratio() > 0.5)]
    
    if not matching_songs.empty:
        # Randomly select a different song from the matching songs
        random_song = data[data.title != song_name].sample(1)
        recommended_song = random_song.iloc[0]['title']
        recommended_artist = random_song.iloc[0]['artist']
        return "Great! How about checking out '{recommended_song}' by {recommended_artist}?"
    else:
        return "Sorry, I don't have a recommendation at this time."

# User input for the song
user_input = input("Type a song title: ")

recommendation = recommend(user_input, topSongs_df)
print(recommendation)

Type a song title: need favor

KeyError: 'artist'